@media (max-width: 991px) {
  #cont-profile-img {
    margin-bottom: 20px;
  }
}

#me-overview {
  width: 100%;
  height: 100%;
}

#cont-frontend {
  padding: 20px;
  height: 100%;
  border-radius: 15px;
  border-width: 1.5px;
  border-style: solid;
}

#cont-backend {
  padding: 20px;
  height: 100%;
  border-radius: 15px;
  border-width: 1.5px;
  border-style: solid;
}

@media (max-width: 575px) {
  #cont-frontend {
    margin-right: 0px;
  }
}

@media (max-width: 575px) {
  #cont-backend {
    margin-left: 0px;
  }
}

@media (min-width: 768px) {
  #projects {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 8%;
  }
}

@media (min-width: 768px) {
  #experience {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 5%;
  }
}

@media (min-width: 576px) {
  #about-me {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 10%;
  }
}

@media (max-width: 576px) {
  #experience {
    padding-top: 15%;
  }
}

@media (max-width: 575px) {
  #about-me, #experience {
    padding-top: 20%;
  }
}

@media (max-width: 768px) {
  #col-exp {
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  #col-exp, #col-exp-1 {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  #projects {
    padding-top: 20%;
  }
}

